<!DOCTYPE html>
<h1>Hello!!!!</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">upload file</button>
</html>